=textShadow
	text-shadow: 1px 1px 1px $shadow-primary

.cards
	&__body	
		display: grid
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
		grid-gap: 20px
		+phone
			grid-template-columns: repeat(auto-fit, minmax(170px, 1fr))
		+r(400)
			grid-template-columns: repeat(auto-fit, minmax(130px, 1fr))

.card
	background-color: $bg-secondary
	display: inline-block
	padding: 15px
	padding-bottom: 0
	cursor: pointer
	box-shadow: 0px 5px 7px rgba($shadow-primary, .1)
	+r(500)
		padding: 10px
		padding-bottom: 0

	&:hover
		.card__appeal
			opacity: 1
	&__color
		height: 250px
		+flex(center, center)
		+phone
			height: 200px
		+r(400)
			height: 150px
		
	&__text
		display: block
		text-align: center
		text-transform: uppercase
		padding: 20px 0
		font-weight: bold
		color: $txt-tertiary
		+r(400)
			padding: 15px 0
			font-size: .6em
		
	&__appeal
		color: $txt-secondary
		text-transform: uppercase
		font-size: 2em
		opacity: 0
		+smooth
		+textShadow
		+r(400)
			font-size: 1.5em

.modal
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	+flex(center, center)
	transform: scale(0)
	transition: all .3s ease-out
	opacity: 0
	&__text
		width: 100%
		+flex(center, center)
		font-size: 5em
		padding: 100px 0
		font-weight: bold
		color: $txt-secondary
		text-transform: uppercase
		+textShadow
		+portrait
			font-size: 3em
		+phone
			font-size: 1.5em
	&.active
		transform: scale(1)
		opacity: 1