.header
	padding: 25px 0
	background-color: $bg-secondary
	margin-bottom: 50px
.logo
	font-weight: bold
	font-size: 1.5em
	position: relative
	&__back
		display: flex
		align-items: center
		&:hover
			.logo
				&__decor
					fill: $bg-third
	&__decor
		margin-right: 5px
		fill: #000
		line-height: 0
		font-size: .75em
