include mixins/mixin
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Палитра
		link(rel='icon' href='./favicon.ico' type='image/x-icon')
		link(rel="stylesheet" type="text/css" href="static/css/normalize.css")
		link(rel="stylesheet" type="text/css" href="static/css/styles.css")
	body
		.container
			header.header
				.wrapper
					.header__logo
						a.logo(href="./") Logo
			main.content
				.wrapper
					.palettes
			footer.footer

		script(src="static/js/app.js" type="module")