include mixins/mixin
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Палитра
		link(rel='icon' href='./favicon.ico' type='image/x-icon')
		link(rel="stylesheet" type="text/css" href="static/css/normalize.css")
		link(rel="stylesheet" type="text/css" href="static/css/styles.css")
	body
		.container
			header.header
				.wrapper
					.header__body
						.header__logo
							a.logo.logo__back(href="./")
								+svg('left-arrow', 'logo__decor')
			main.content
				.wrapper
					.select
						.select__item
							select.select__box
								option.select__items(value="hex") HEX
								option.select__items(value="rgb") RGB
								option.select__items(value="rgba") RGBA
								option.select__items(value="hsl") HSL
					.cards
						.cards__body
						
			.modal
				span.modal__text


			footer.footer

		script(src="static/js/list.js" type="modal")
		script(src="static/js/main.js" type="module")